.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header h1 {
  /*font-family: "Roboto Condensed";*/
}

.box {
	width:70%;
	height:200px;
	background:#FFF;
	left:18%;
}

.effect {
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);

  background: #2dc7d0;
  border-radius: 10px;
  border: 1px solid #eee;
  height: 120px;
  position: relative;
  width: 900px;
  margin-top: 10px;
 
}