<header>
          <!-- MENU MOBILE-->
          <ul id="menu-mobile" class="side-nav">
            <li><a href="/dashboard_aluno" style="color: white;">Pagina Inicial</a></li>
            <li><a href="/dashboard_aluno/chat_escolha" style="color: white;">Área de Chat</a></li>
            <li><a href="/dashboard_aluno/download_aluno" style="color: white;">Área de Download</a></li>
            <li><a href="/dashboard_aluno/recomendacoes_aluno" style="color: white;">Área de Sugestões</a></li>
            <li><a href="/dashboard_aluno/ouvidoria_aluno" style="color: white;">Área da Ouvidoria</a></li>
            <li><a href="/dashboard_aluno/perfil_aluno" style="color: white;">Perfil</a></li>
            <li><a href="/sair" style="color: white;">Sair</a></li>
          </ul>

  <div class="navbar-fixed">
    <nav class="navbar z-depth-0">
      <div class="nav-wrapper">
          <a href="#" class="brand-logo hide-on-large-only posicao_logo1"><img style="width:80px; margin-top:8px; right:1000;" src="img/fav.png" class="logo_img"></a>
          <a href="#" class="brand-logo hide-on-med-and-down posicao_logo2"><img style="width:80px; margin-top:8px; right:1000;" src="img/fav.png" class="logo_img"></a><h2 style="position:absolute;left:9%;top:-10%;">Aluno</h2>
          <ul id="nav-mobile" class="hide-on-med-and-down posicao_nav">
            <li><a class="waves-effect" href="/dashboard_aluno">Pagina Inicial</a></li>
            <li><a class="waves-effect" href="/dashboard_aluno/chat_escolha">Área de Chat</a></li>
            <li><a class="waves-effect" href="/dashboard_aluno/download_aluno">Área de Download</a></li>
            <li><a class="waves-effect" href="/dashboard_aluno/recomendacoes_aluno">Área de Sugestões</a></li>
            <li><a class="waves-effect" href="/dashboard_aluno/ouvidoria_aluno">Área da Ouvidoria</a></li>
            <li><a class="waves-effect" href="/dashboard_aluno/perfil_aluno">Perfil</a></li>
            <li><a class="waves-effect" href="/sair">Sair</a></li>
          </ul>

          <a href="#"  data-activates="menu-mobile" class="button-collapse left" ><i class="material-icons large btn-mobile">menu</i></a> 
      </div>
    </nav>
  </div>
</header>
