<header>
          <!-- MENU MOBILE-->
          <ul id="menu-mobile" class="side-nav">
            <li><a href="/dashboard_coordenador" style="color: white;">Pagina Inicial</a></li>
            <li><a href="/dashboard_coordenador/ouvidoria_coordenador" style="color: white;">Ouvidoria</a></li>
            <li><a href="/dashboard_coordenador/perfil_coord" style="color: white;">Perfil</a></li>
            <li><a href="/sair" style="color: white;">Sair</a></li>
          </ul>

  <div class="navbar-fixed">
    <nav class="navbar z-depth-0">
      <div class="nav-wrapper">
          <a href="#" class="brand-logo hide-on-large-only posicao_logo1"><img style="width:80px; margin-top:8px;" src="img/fav.png" class="logo_img"></a>
          <a href="#" class="brand-logo hide-on-med-and-down posicao_logo2"><img style="width:80px; margin-top:8px;" src="img/fav.png" class="logo_img"></a><h2 style="position:absolute;left:9%;top:-10%;">Gestão Escolar</h2>
          <ul id="nav-mobile" class="hide-on-med-and-down posicao_nav">
            <li><a class="waves-effect" href="/dashboard_coordenador">Pagina Inicial</a></li>
            <li><a class="waves-effect" href="/dashboard_coordenador/ouvidoria_coordenador">Ouvidoria</a></li>
            <li><a class="waves-effect" href="/dashboard_coordenador/perfil_coord">Perfil</a></li>
            <li><a class="waves-effect" href="/sair">Sair</a></li>
          </ul>

          <a href="#"  data-activates="menu-mobile" class="button-collapse left" ><i class="material-icons large btn-mobile">menu</i></a> 
      </div>
    </nav>
  </div>
</header>
