.nav{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #4B0082;
	height: 100%;
	width: 250px;

}
.nav h1 {
	font-family: "Roboto Condensed";
	color: aliceblue;
	margin-left: calc(100% - 85%);
	margin-top: calc(100% - 70%);
}
.container-title img{
	width: 50%;
	margin-left:  25%;
	margin-top: 10%;
}
.nav-menu .nav{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
}
.nav-menu .nav-list{
	list-style: none;
	font-weight: 650;
}
.nav-menu .nav-list .nav-links{
	text-align: left;
}
.nav-menu .nav-list .nav-links a{
	text-decoration: none;
	display: inline-block;
	padding: 20px 0;
	color: #fff;
	font-family: "Roboto Condensed";
	font-size: 0.966em;
}

@media only screen and (min-width: 600px){
	.nav h1 {
		font-size: 18px;
		margin-left: calc(100% - 85%);
		margin-top: calc(100% - 20%);
	}

}
@media only screen and (min-width: 48em) {
	.nav h1 {
	font-size: 24px;
	margin-left: calc(100% - 80%);
	margin-top: calc(100% - 70%);
	}

}
